@import "/src/variables";

.tag {
    font-family: $font;
    color: $hover;
    text-decoration: underline;
}

.tag:hover {
    color: $primary3;
    cursor: pointer;
}

a {
    font-family: $font;
    color: $text;
    text-decoration: none;
}

h3 {
    margin: 0 0 4px 0;
    padding: 0 0 0 0;
}

p {
    margin: 0 0 4px 0;
    padding: 0 0 0 0;
}