<app-header></app-header>
<app-title myPageName="Converting to Linux Diary"></app-title>

<p>I decided recently to bite the bullet and get better at unix systems by making linux my daily. Making this page to write down thoughts/insights as a long time Windows guy, maybe some of you turbonerds will find my newbie struggles interesting. My body is primed and ready to embrace the <b><i>FREEDOM</i></b>.</p>

<div class="center">
    <img class="neckbeard" alt="Man with comically large neckbeard" src="./assets/images/neckbeard.jpg">
</div>

<h3>Babies First Distro | 2023/03/27</h3>
<p>Decided to stick with Linux Mint as my first real distro. I am familiar with cinnamon from my various hardware projects where they couldn't handle Windows 10 bloat. Install was extremely easy (do we really need a desktop <i>before</i> installing the ISO?). All your basic zoomer apps worked as well as expected. Tried to play Spyro 3 on steam and had to launch it with wine, public documentation was... mid.</p>

<h3>Just Werks (TM) | 2023/04/02</h3>
<p>Messing around with setup a little bit more, and I ended up seeing some unfortunate graphical bugs. I run 2 144htz 1080p curved monitors through displayports, and when I turned my refresh rate on my PC to match that my second screen started tearing. Lame. Anyway I've bumped it back down to 60 for the moment and am redirecting my efforts to the cursed land of Linux Gaming.</p>

<app-footer></app-footer>