@import "/src/variables";

.home-img {
    max-width: 50%;
}

h3 {
    transition-duration: .3ms;
    display: flex;
}

h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

a {
    // color: $text;
    text-decoration: none;
}
