<app-header></app-header>

<h2>Home</h2>
<hr>

<h3>Hello Recruiters!</h3>

<p>It's a pleasure to have you here.</p> 
<p>
    Normally this is a personal blog site, but I would like for it to double as a project hub and skill showcase. 
    I encourage you to take a look at <a routerLink="/how-this-website-was-made" routerLinkActive="active">how this website was made</a>.  
</p>

<p>
     Also: check out this <a href="https://github.com/Mdsparks17/mean-course">MEAN-Course git repo</a> where I am brushing up on my full-stack skills with (M)ongoDB, (E)xpress.JS, (A)ngular, (N)ode.js. See course <a href="https://www.udemy.com/course/angular-2-and-nodejs-the-practical-guide/">here.</a>
</p>

<p>Can't wait to hear from you soon!</p>

<hr>

<div>
    <button class="home-button"><a class="red" routerLink="/search" [queryParams]="{ query:'#blog' }" routerLinkActive="active">Blogs</a></button>
    <app-card-table [cardList]="blogQuery"></app-card-table>
</div>

<div> 
    <button class="home-button"><a class="orange" routerLink="/search" [queryParams]="{ query:'#list' }" routerLinkActive="active">Lists</a></button>
    <app-card-table [cardList]="listQuery"></app-card-table>
</div>

<div>
    <button class="home-button"><a class="magenta" routerLink="/search" [queryParams]="{ query:'#project' }" routerLinkActive="active">Projects</a></button>
    <app-card-table [cardList]="projectQuery"></app-card-table>
</div>

<div>
    <button class="home-button"><a class="teal" routerLink="/search" [queryParams]="{ query:'#meta' }" routerLinkActive="active">Meta</a></button>
    <app-card-table [cardList]="metaQuery"></app-card-table>
</div>

<div class="spacer"></div>

<app-footer></app-footer>

<a href="" target="_blank"></a>
