@import "/src/variables";

@media only screen and (max-width: 750px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin: 1rem 0 0 0;
    }
}

@media only screen and (min-width: 750px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 750px;
        height: 6rem;
    }
}

a {
    font-family: $font;
    color: $text;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.button {
    height: 2rem;
    width: 5rem;
    font-size: 1rem;
    padding: .25rem .25rem .25rem .25rem;
}