<div *ngFor="let card of cardListAvailable">
    <a [routerLink]=[card.route] routerLinkActive="active">
        <div class="button card">
            <h3>{{ card.name }}</h3>
            <app-tag-list [myTags]="card.tags"></app-tag-list>
            <p class="meta-text">{{ card.metadata.lastUpdatedTimestamp }}</p>
        </div>
    </a>
</div>

<!-- <nav class="article-nav">
    <button class="nav-button" (click)="backward()">ᐊ</button>
    
    <button class="nav-button" (click)="forward()">ᐅ</button>
</nav> -->
