@import "/src/variables";

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark-4;
    border-radius: 16px;
    margin: 0 10px 0 10px;
}


    
