@import "/src/variables";

.square {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text;
    width: 18%;
    height: 100px;
    background-color: $primary2;
    margin: 1% 1% 0 0;
    padding: .5% .5% .5% .5%
}

textarea {
    width: 100%;
    height: 30rem;
    font-size: 14px;
    color: $text;
    font-family: $font;
    padding: 1rem 1rem;
    box-sizing: border-box;
    border: 2px solid $text;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    margin-bottom: 1rem;
    overflow-wrap: normal;
    overflow-x: scroll;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
}

.square:Hover {
    cursor: pointer;
}

.selected {
    background-color: $primary;
}

.text-center {
    text-align: center;
}

.loader {
    width:25%;
    margin: 1rem;
}

.load {
    background-color: transparent;
    border: 1px solid $primary3;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    color: $text;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition-duration: 0.3s;
}

.load:hover {
    background-color: $primary2;
}