<app-header></app-header>
<app-title myPageName="Bingo Generator"></app-title>
<div class="center">
    <div class="loader column center">
        <textarea #items rows="25"></textarea>
        <button (click)="loadBingo(items.value)" class="load">{{ ratio }} / 25</button>
    </div>


    <div class="center board">
        <div *ngFor="let card of bingoCard; let i = index;" class="square center text-center {{ card.color }}" (click)="onClick(i)">
         {{ card.topic }}
        </div>
    </div>
</div>

<app-footer></app-footer>