@import "/src/variables";

.tag {
    font-family: $font;
    color: $offwhite;
    text-decoration: underline;
}

.tag:hover {
    color: $dark-1;
    cursor: pointer;
}

a {
    font-family: $font;
    color: $white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

h3 {
    margin: 0 0 4px 0;
    padding: 0 0 0 0;
}

p {
    margin: 0 0 4px 0;
    padding: 0 0 0 0;
}