<p class="meta-text container">
    <span *ngFor="let tag of myTags">
        <a [routerLink]="['/search']" [queryParams]="{ query:tag }" routerLinkActive="active" ariaCurrentWhenActive="page">
            <span *ngIf="tag === '#blog'; else metaCheck">
                <span class="tag orange">{{ tag }}&nbsp;</span>
            </span>
            <ng-template #metaCheck>
                <span *ngIf="tag === '#meta'; else standard">
                    <span class="tag teal">{{ tag }}&nbsp;</span>
                </span>
            </ng-template>
            <ng-template #standard>
                <span class="tag">{{ tag }}&nbsp;</span>
            </ng-template>
        </a>
    </span>
</p>


