<app-header></app-header>
<app-title myPageName='About'></app-title>

<div class="row">
    <div>
        <h3>Hello!</h3>
        <p>This is my personal site for anything I feel like publishing or blabbing about. I plan to upload some of my
            projects, hobbies, comments, blogs, lists, and generally anything I find of interest.</p>
    </div>
    <img class="arizona" alt="Spinning Arizona Green Tea can" src="./assets/images/arizona-spin.gif">
</div>
<h3>About Me</h3>
<p>IRL my name is Michael Sparks (he/him 24). I am a fullstack software developer by trade living in Seattle, WA. I have a degree in CS from
    UNC Chapel-Hill and am currently working on my MBA. When I'm not working for
    my corporate overlords I enjoy meetups, skating, gym, piano, and whatever hobby I randomly
    have fallen into for the month.</p>
<p>Here is my <a
        href="https://docs.google.com/document/d/1ExJf9ano_Tjz9qf-JrbyViGa9_34G_d2Z6-eE4NroQE/edit?usp=sharing">Professional
        Resume</a></p>

<h3>Why "ThePlug"?</h3>
<p>Since this was originally planned to be a professional personal site, I wanted to have some pun based off my last
    name 'Sparks'. Sparkle? Spark... something? Spark Plug? Eventually I just landed on 'ThePlug'. I think it works. Making
    connections? Plugging the gaps?</p>

<div class="row">
    <div>
        <h3>How to Contact</h3>
        <p>Feel free to reach out to me by email! I don't promise I will respond but I'm interested in anything you have
            to say.</p>
        <p><i>mdsparks17@gmail.com</i></p>
    </div>
    <img class="pennletter" alt="Hand signing a letter" src="./assets/images/pennletter.gif">
</div>

<app-footer></app-footer>

