<app-header></app-header>
<app-title myPageName='HTML Practice'></app-title>

<p>Hi! Below is some practice showing competency in HTML. This will hopefully be an ongoing journey of my dive into each node of the <a
    href="https://docs.google.com/document/d/1ExJf9ano_Tjz9qf-JrbyViGa9_34G_d2Z6-eE4NroQE/edit?usp=sharing">Frontend Developer Roadmap</a>.</p>

<p>To start, I will showcase symantic HTML, something important for accessibilty and maintanability.</p>

<h2>Formatting:</h2>

<p>&lt;a&gt;: <a href="https://htmlreference.io/">htmlreference</a></p>

<p>&lt;abbr&gt; (Defines an abbreviation or an acronym): <abbr>MDS</abbr></p>

<p>&lt;address&gt; (Defines contact information for the author/owner of a document/article): <address>mdsparks17@gmail.com</address>

<p>&lt;b&gt;: <b>Hello, world!</b></p>

<p>&lt;cite&gt;: <cite>The Plug: HTML Practice</cite></p>

<p>&lt;i&gt;: <i>Hello, world!</i></p>

<p>&lt;q&gt;: <q>Hello, world!</q>  -Every Coder Ever</p>

<p>&lt;s&gt; (Defines text that is no longer correct): <s>I'm not hungry</s></p>

<p>&lt;time&gt;: <time>2024/04/26</time></p>

<h2>Forms and Input:</h2>

<p>TODO</p>

<app-footer></app-footer>