<app-header></app-header>
<app-title myPageName="How This Website Was Made"></app-title>

<p class="indent"><q>Risk comes from not knowing what you're doing.</q><br>~Warren Buffet</p>

<h3>Overview</h3>
<ul>
    <li>Find my repo on Github&nbsp;<a href="https://github.com/Mdsparks17/ThePlug" target="_blank">Here</a></li>
    <li>This website is made with&nbsp;<a href="https://angular.io/" target="_blank">Angular 2+</a></li>
    <li>There is currently no backend or database</li>
    <li>Hosting is with&nbsp;<a href="https://pages.github.com/" target="_blank">Github Pages</a></li>
</ul>

<h3>Design Philosophy</h3>
<ul>
    <li>Color scheme based on readability with&nbsp;<a href="https://github.com/sainnhe/gruvbox-material" target="_blank">Gruvbox Material</a></li>
    <li>Mobile-First Design</li>
    <li>Accessibiliy-First Design</li>
    <li><a href="https://lawsofux.com/" target="_blank">Laws of UX</a></li>
</ul>

<h3>Inspiration</h3>
<ul>
    <li><a href="https://sizeof.cat/" target="_blank">sizeof(cat)</a></li>
    <li><a href="https://www.cozynet.org/" target="_blank">CozyNet Blog</a></li>
</ul>






<app-footer></app-footer>