<header>
    <a routerLink="/" routerLinkActive="active">
        <img class="logo theme" alt="Logo" src="./assets/images/theplug.png">
    </a>
    <nav>
        <a routerLink="/about" routerLinkActive="active" title="about this website">
            <button class="button ">About</button></a>
        <a routerLink="/search" routerLinkActive="active">
            <button class="button ">Search</button></a>
    </nav>
</header>

<div class="center spacer">
    <div class="center column spacer sound">
        <div class="spacer">Smash Mouth - Who's There</div>
        <audio controls autoplay>
            <source src="./assets/audio/smash-mouth-whos-there.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>


<div class="wrapper">

    <div class="item">
        <div class="polaroid"><img src="./assets/images/alien-pug.jpeg">
            <div class="caption">ኗዪቿጌረቿ ጌዐዪጌ</div>
            <div><a href="https://twitter.com/MadeoStress/status/1644408543632838656" target="_blank">@MadeoStress</a></div>
        </div>
    </div>

    <div class="item">
        <div class="polaroid"><img src="./assets/images/alien-pup.jpeg">
            <div class="caption">ጋዐኗኗረቿ ዪሁጠየቻ</div>
            <div><a href="https://twitter.com/MadeoStress/status/1644408543632838656" target="_blank">@MadeoStress</a></div>
        </div>
    </div>

</div>

<footer>
    <hr>
    <div class="details">
        <span><a routerLink="/" routerLinkActive="active"><img class="icon theme" alt="Logo" src="./assets/images/home.png"></a></span>
        <span><a href="https://discord.com/channels/567034701999636490" target="_blank"><img class="icon theme" alt="Logo" src="./assets/images/discord.png"></a></span>
        <span><a href="mailto:mdsparks17@gmail.com"><img class="icon theme" alt="Logo" src="./assets/images/mail.png"></a></span>
    </div>
</footer>