<div class="toolbar">

    <div class="web">
        <div class="standard-align">
            <div class="row center">
                <img class="logo" src="./assets/plug.PNG">
                <h1 class="main-logo">
                    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">The Plug</a>
                </h1>
            </div>
            <div class="nav">
                <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <button class="button orange">
                        About
                    </button>
                </a>
                <button class="button red">Projects</button>
                <button class="button green">Blog</button>
                <button class="button teal">Lists</button>
                <button class="button blue">Search</button>
            </div>
        </div>
    </div>

    <div class="mobile">
        <div class="mobile-align">
            <div class="row center">
                <img class="logo" src="./assets/plug.PNG">
                <h1 class="main-logo">
                    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">The Plug</a>
                </h1>
            </div>
            <div class="nav">
                <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <button class="button orange">
                        About
                    </button>
                </a>
                <button class="button red">Projects</button>
                <button class="button green">Blog</button>
                <button class="button teal">Lists</button>
                <button class="button blue">Search</button>
            </div>
        </div>
    </div>
</div>