<app-header></app-header>
<app-title myPageName="Environmental Activism: What Should an Individual Actually Do?"></app-title>

<p>Most of us know about the looming threat of climate change. We are already <a
        href="https://press.un.org/en/2022/sgsm21173.doc.htm" target="_blank">past the point of no return</a> for rising
    global temperatures. We have got to do something to mitigate climate disaster, but what? Donate $100 to team trees
    because of Mr. Beast says so?
    Stop eating bacon? Bike 20 miles to work? What are individuals actually called to do? What choices are actually
    goal-oriented?</p>

<p>First, some assumptions:</p>
<ul>
    <li>People are bound by <a href="https://www.investopedia.com/terms/r/rational-choice-theory.asp"
            target="_blank">Rational Choice Theory</a> - that they make choices aligned with their own self interests.
    </li>
    <li>Therefore, solutions should not rely on goodwill</li>
    <li>Meaning that preventative measures ought to be authoritative and have consequences</li>
</ul>

<p>So why bring this up? I don't trust corporations, charities, or 'people' to do the right thing. I don't trust
    corporations to ensure my food is safe to consume. I don't trust charities to make real change and not serve
    corporate interests. I don't trust people to drive sober. What mitigates all of this is <i>good policy.</i></p>

<p>I can hear the token libertarian in the back screaming "What about Corporate Social Responsibility? Companies will be
    climate conscious because its profitable marketing!" Sure, many companies are
    making a good effort to be climate
    conscious. However, corporations are only 'conscious' to the point where its cost-effective. The fact is that
    'solutions' like <a href="https://en.wikipedia.org/wiki/Carbon_offset" target="_blank">Carbon Offsetting</a> are a
    band-aid solution
    to a rapidly deteriorating situation. But don't take my word for it, here is an excerpt from an e-mail conversation
    with Sandy Smith-Nonini professor of Anthropology and Environmental Justice.</p>

<p class="indent"><q> Unfortunately, corporate lawyers and Wall St. have had about 20 years now to study up on how to
        continue growth as usual, and profit while doing cosmetic “greening” – so greenwashing is rampant, and Corp.
        Social. Resp. (CSR) or Environmental and Social Governance (ESG) is more or less voluntary – and up to an
        investor to investigate. Which means you need to learn more about carbon trading, and offsets before sending
        your money off (...) In short, it all depends on enforcing a C-price and lowering the C-price over time to work
        in a C market – and the EU got all this wrong in their initial efforts and had to start over again, and still it
        is not really enforced. Without international agreements that penalize polluters, it can’t work. It is like a
        game –(the EU C-market was heavily shaped by corporate lobbying); Biggest problem is monitoring offsets on a
        global level – (would take an army of monitors and actual fear of enforcement by companies), and very large
        companies will just pay to pollute, and not change their practices if the C price is not set high enough. To
        date C markets have become another form of financialization – new green derivatives that are opaque in their
        complexity, and perfect for profiteering. The most common type, forest management, is not working because
        planting new trees does not a carbon sink make (think rain forest or mature, climax forest). It takes literally
        hundreds of years for forests to mature, and trees to draw C down, and we don’t have that time.</q></p>

<p>The point I am making is that making <i>Marginal, Altruistic</i> choices to prevent
    individual carbon emission are not efficient or scalable. It's just not a good strategy to assume that actors will
    suddenly ascend past the tragedy of the commons. Ok, so if carbon offsetting isn't the min-max strategy we are
    looking for, what is? My opinion lies closely to
    American educator and environmentalist <a href="http://billmckibben.com/" target="_blank">Bill McKibben</a>. The
    truth is that the wellspring of change lies with out policy makers. See below for an excerpt from "Conservation vs.
    Activism".</p>

<p class="indent"><q>Say you have a certain amount of time and money with which to make change-call it x, since that is
        what we mathematicians call things. The trick is to increase that x by multiplication, not addition.The trick is
        to take that 5 percent of people who really care and make them count for far more than 5 percent. And the trick
        to that is democracy.</q></p>

<p class="indent"><q>If people who care about climate change mobilize politically, 5 percent will be more than enough
        too-it will persuade senators, congressmen, and presidents to back strict legislation that will set real caps on
        emissions and fund real research on the technologies we need. If such laws pass, they would change the behavior
        of 95 percent of Americans, including reluctant in-laws. This kind of equation isn&#39;t hypothetical. Two years
        ago, I helped organize a march across Vermont that called on our leaders to work for deep cuts in carbon
        emissions. A thousand of us walked the sixty-mile route-one Vermonter in six hundred. And yet that was enough to
        get all of our legislators, including the conservative Republicans, to sign on to our pledge.</q></p>

<p>(Read the rest here, it's worth your time: <a href="./assets/documents/McKibben-conservation-v-activism.doc" download="McKibben-conservation-v-activism">McKibben: Conservation v Activism</a>)</p>

<p>Now just because activism is a priority doesn't mean we should just stop caring about conservation. Rather, given
    that people have only so many 'spoons' to spend on given tasks, we ought to
    consider better ways to spend our 'spoons' for longitudinal change.</p>

<p>Here is a priority list heuristic that I think makes sense:</p>
<ul>
    <li><b>Get to where you have Capacity to Contribute:</b> double check that you have the ability to contribute
        without
        putting yourself at risk.</li>
    <li><b>Educate Yourself:</b> Corporations are hard at work misleading the public so they keep profits up. Don't let
        them fool you.</li>
    <li><b>Get Politically Involved:</b> Join an initiative, NGO, or volunteer group. Vote. Write to your
        congressperson. Policy is the
        wellspring of change.</li>
    <li><b>Lifestyle Changes:</b> Now consider what changes you can make in your own life. Vegan Mondays?
        Taking one less international vacation? Air Drying your clothes? Good stuff.</li>
    <li><b>Donate:</b> Only donate after you have considered all the above items. Money talks, but often
        feet-on-the-ground protests speak louder.</li>
</ul>

<p>So in-summary: know your stance, be secure in the facts, and shoot for real policy change with activism. Then,
    consider what conservation actions make sense for you and your life.</p>

<p class="indent"><q>Screw in a new light bulb? Sure. Screw in a new global treaty? Now we're talking.</q><br>~Bill McKibben</p>

<p>Resources:</p>
<ul>
    <li><a href="https://350.org/" target="_blank">350.org</a></li>
    <li><a href="https://www.charitynavigator.org/" target="_blank">charitynavigator.org</a></li>
</ul>

<app-footer></app-footer>