// GLOBAL STYLES
@import "/src/variables";

// STANDARD

body {
    background-color: $background;

    // TODO: find a fun background image
    // background-image: url("./assets/images/bg.jpg");
    // background-size: cover;
    // background-position: bottom;
    // background-attachment: fixed;
    margin: 0 0 0 0;
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fill {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    
    width: 100%;
}

.content {
    // background-color: $background;
    border-radius: 4px;
    margin: 10px;
}

@media only screen and (max-width: 750px) {
    .fill {
        width: 100%;
    }
}

@media only screen and (min-width: 750px) {
    .fill {
        width: 750px;
    }
}

a { font-family: $font; color: $blue; text-decoration: underline; }

a:hover { color: $hover; }

div { color: $text; font-family: $font; }

p {
    font-family: $font;
    color: $text;
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    line-height: 20px;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: $text;
    border-radius: 8px;

    margin-bottom: 15px;
}

h2 {
    font-family: $font;
    color: $text;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: $font;
    color: $text;
    font-size: 20px;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
}

q {
    font-family: $font;
    font-style: italic;
    color: $green;
    content: none;
}

// FORMATTING

.indent {
    font-family: $font;
    color: $text;
    font-size: 16px;
    margin: 15px 0 15px 0;
    padding: 5px 0 5px 0;
    line-height: 15px;
    border-left: 1px solid;
    border-color: $green;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.orient-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meta-text {
    display: flex;
    flex-flow: row wrap;
    color: $hover;
    margin: 0;
    padding: 0;
}

// FONT COLOR

.yellow { color: $yellow; }
.orange { color: $orange; }
.red { color: $red; }
.green { color: $green; }
.teal { color: $teal; }
.blue { color: $blue; }

// CUSTOMIZATION

// scrollbar
::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background: $background; }

::-webkit-scrollbar-thumb { background: $primary3; border-radius: 4px; margin: 4px 0 4px 0; }

::-webkit-scrollbar-thumb:hover { background: $hover; }

// highlight

::selection { background-color: $hover; color: $background; }

// UTILITIES
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;    

    // margin: 20px 0 20px 0;

    padding: 0 10px 0 10px;
    margin: 0 0 10px 0;

    height: 100px;
    width: 90%;
    border-left: solid 2px;
    border-radius: 8px;

    transition-duration: 0.3s;
}

.card:hover {
    background-color: $primary2;
}

.card:active {
    background-color: $primary3;
}