// @import "/src/variables";

// GRUVBOX THEME
$text: #d4be98;         // text
$hover: #fae0b3;        // hover text
$primary3: #776b65;     // active
$primary2: #514945;     // hover
$primary: #1d1b19;      // component background
$background: #202020;   // background

$red: #ea6962;          // #blog
$orange: #ea8a62;       // #list
$yellow: #d8a657;       
$green: #a9b665;        // quotes
$teal: #65b68c;         // #meta
$blue: #7daea3;         // links
$magenta: #d3869b;

// GRUVBOX RAW
// black   514945
// red     ea6962
// green   a9b665
// yellow  d8a657
// blue    7daea3
// magenta d3869b
// cyan    89b482
// white   d4be98
// default 202020

// this converts white images into themed colors
.theme {
    filter: invert(88%) sepia(14%) saturate(700%) hue-rotate(353deg) brightness(88%) contrast(70%);
}

// MY FONTS
$font: Roboto, Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

