<h2>{{ mypage?.name }}</h2>
<div class="meta-text">
    <span>{{ mypage?.metadata?.lastUpdatedTimestamp }}</span>
    <span> | </span>
    <span *ngFor="let tag of mypage?.tags">
        {{ tag }}
    </span>
</div>
<hr>

<div class="row">
    <div>
        <h3>Hello!</h3>
        <p>This is my personal site for anything I feel like publishing or blabbing about. I plan to upload some of my
            projects, hobbies, comments, blogs, listicles, and generally anything I find of interest.</p>
    </div>
    <img class="arizona" src="./assets/arizona-spin.gif">
</div>
<h3>About Me</h3>
<p>IRL my name is Michael Sparks (he/him 24), I am a fullstack software developer by trade (Angular 2+, Springboot,
    PostreSQL). I have a degree in CS from UNC Chapel-Hill and am currently working on my MBA. When I'm not working for
    my corporate overlords I enjoy meetups, skating, gym, piano, and whatever hobby I randomly
    have fallen into for the month.</p>
<p>Here is my <a href="https://docs.google.com/document/d/1ExJf9ano_Tjz9qf-JrbyViGa9_34G_d2Z6-eE4NroQE/edit?usp=sharing">Professional Resume</a></p>
<div class="row">
    <div>
        <h3>How to Contact</h3>
        <p>Feel free to reach out to me by email! I don't promise I will respond but I'm interested in anything you have
            to say.</p>
        <p><i>mdsparks17@gmail.com</i></p>
    </div>
    <img class="pennletter" src="./assets/pennletter.gif">
</div>