<app-header></app-header>
<app-title myPageName='Movie List'></app-title>

<p>Below are some of my favorite movie picks. You
    can also see my complete list <a
        href="https://docs.google.com/spreadsheets/d/1nPC1zhW7qGi-7fhmZYqapv1YtcaEzDLGSSH9f7yvRdw/edit?usp=sharing"
        target="_blank">here</a>.
</p>

<h3>It's a Masta-piece</h3>

<div class="spacer orient-left">
    <img class="poster" alt="The Princess Bride poster" src="./assets/images/the-princess-bride.jpg">
    <div class="column description">
        <h3>The Princess Bride</h3>
        <p class="meta-text">Two lovers journey to reunite in this storybook-tale. Amazing cast, amazing plot, perfect
            date-night movie.</p>
    </div>
</div>

<div class="spacer orient-left">
    <img class="poster" alt="Mad Max: Fury Road poster" src="./assets/images/mad-max-fury-road.jpg">
    <div class="column description">
        <h3>Mad Max: Fury Road</h3>
        <p class="meta-text">A woman rebels against a tyrannical ruler in search for her homeland with the aid of a
            group of female prisoners, a psychotic worshiper and a drifter named Max. Everything I ever wanted out of an
            action drama.</p>
    </div>
</div>

<div class="spacer orient-left">
    <img class="poster" alt="The Incredibles poster" src="./assets/images/the-incredibles.jpg">
    <div class="column description">
        <h3>The Incredibles</h3>
        <p class="meta-text">A superhero family in a world where supers are illegal. I have seen this movie so many
            times I can quote almost every scene.</p>
    </div>
</div>

<app-footer></app-footer>